PONDER_RPC_URL_46630=
PONDER_STATICS_DIAMOND_ADDRESS=
PONDER_POSITION_MANAGER_ADDRESS=
PONDER_STATICS_GENESIS_ADDRESS=
PONDER_STATICS_START_BLOCK=
PONDER_POSITION_MANAGER_START_BLOCK=
PONDER_STATICS_GENESIS_START_BLOCK=
PONDER_ALLOWED_ORIGIN=http://localhost:3000
DATABASE_URL=
DATABASE_SCHEMA=
